<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stephnoutsa.cuib">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FlashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".JoinUs"
            android:label="@string/title_activity_join_us"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stephnoutsa.cuib.Home" />
        </activity>
        <activity
            android:name=".LoginType"
            android:label="@string/title_activity_login_type"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentLogin"
            android:label="@string/title_activity_student_login"
            android:parentActivityName=".LoginType"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stephnoutsa.cuib.LoginType" />
        </activity>
        <activity
            android:name=".SubscriberLogin"
            android:label="@string/title_activity_subscriber_login"
            android:parentActivityName=".LoginType"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stephnoutsa.cuib.LoginType" />
        </activity>
        <activity
            android:name=".MyAccount"
            android:label="@string/title_activity_my_account"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stephnoutsa.cuib.Home" />
        </activity>
        <activity
            android:name=".StudentAccount"
            android:label="@string/title_activity_student_account"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stephnoutsa.cuib.Home" />
        </activity>
        <activity
            android:name=".Curriculum"
            android:label="@string/title_activity_curriculum"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stephnoutsa.cuib.Home" />
        </activity>
        <activity
            android:name=".Timetable"
            android:label="@string/title_activity_timetable"
            android:parentActivityName=".Curriculum"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stephnoutsa.cuib.Curriculum" />
        </activity>
        <activity
            android:name=".Courses"
            android:label="@string/title_activity_courses"
            android:parentActivityName=".Curriculum"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stephnoutsa.cuib.Curriculum" />
        </activity>
        <activity
            android:name=".Lecturers"
            android:label="@string/title_activity_lecturers"
            android:parentActivityName=".Curriculum"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stephnoutsa.cuib.Curriculum" />
        </activity>

        <service android:name=".utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".utils.MyFirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Messages"
            android:label="@string/title_activity_messages"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stephnoutsa.cuib.Home" />
        </activity>
        <activity
            android:name=".SingleMessage"
            android:label="@string/title_activity_single_message"
            android:parentActivityName=".Messages"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stephnoutsa.cuib.Messages" />
        </activity>
        <activity
            android:name=".URLDisplay"
            android:label="@string/title_activity_urldisplay"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stephnoutsa.cuib.Home" />
        </activity>
        <activity
            android:name=".SingleCourse"
            android:label="@string/title_activity_single_course"
            android:parentActivityName=".Courses"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stephnoutsa.cuib.Courses" />
        </activity>
        <activity
            android:name=".SingleLecturer"
            android:label="@string/title_activity_single_lecturer"
            android:parentActivityName=".Lecturers"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stephnoutsa.cuib.Lecturers" />
        </activity>
        <activity
            android:name=".Results"
            android:label="@string/title_activity_results"
            android:parentActivityName=".Curriculum"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stephnoutsa.cuib.Curriculum" />
        </activity>
    </application>

</manifest>